<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>国内游</string>
		<key>color</key>
		<string>0</string>
		<key>isTemplate</key>
		<string>1</string>
		<key>isFix</key>
		<string>1</string>
		<key>Categorys</key>
		<array>
			<dict>
				<key>name</key>
				<string>衣服</string>
				<key>items</key>
				<array>
					<string>迷你裙</string>
					<string>跨栏背心</string>
					<string>孕妇装</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>日常用品</string>
				<key>items</key>
				<array>
					<string>口红</string>
					<string>眼睛</string>
					<string>睫毛膏</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>国际游</string>
		<key>color</key>
		<string>0</string>
		<key>isTemplate</key>
		<string>1</string>
		<key>isFix</key>
		<string>1</string>
		<key>Categorys</key>
		<array>
			<dict>
				<key>name</key>
				<string>电子数码</string>
				<key>items</key>
				<array>
					<string>手机</string>
					<string>平板</string>
					<string>单反</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>行前事项</string>
				<key>items</key>
				<array>
					<string>买票</string>
					<string>签证</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
